In [1]:
import pandas as pd
from collections import Counter

In [3]:
data = pd.read_csv('../data/multiATIS/raw/train_dev_test/train_EN.tsv',sep='\t')
data

,id,utterance,slot_labels,intent
0,1,how much does the american airlines flight 71 ...,O O O O B-airline_name I-airline_name O B-flig...,atis_airfare
1,2,could you tell me the cheapest fare from atlan...,O O O O O B-cost_relative O O B-fromloc.city_n...,atis_airfare
2,3,what is the cost of flight dl 106 from philade...,O O O O O O B-airline_code B-flight_number O B...,atis_airfare
3,4,what is the cheapest round trip fare between b...,O O O B-cost_relative B-round_trip I-round_tri...,atis_airfare
4,5,what is the fare from boston to oakland on uni...,O O O O O B-fromloc.city_name O B-toloc.city_n...,atis_airfare
...,...,...,...,...
4483,4484,please list the flight times from newark to bo...,O O O B-flight_time I-flight_time O B-fromloc....,atis_flight_time
4484,4485,i want to know the time of the latest flight i...,O O O O O B-flight_time O O B-flight_mod O O O...,atis_flight_time
4485,4486,what time is the last flight from washington t...,O B-flight_time O O B-flight_mod O O B-fromloc...,atis_flight_time
4486,4487,all right give me the flight times in the morn...,O O O O O B-flight_time I-flight_time O O B-de...,atis_flight_time
4487,4488,can you tell me the time a flight would leave ...,O O O O O B-flight_time O O O O O B-fromloc.ci...,atis_flight_time

In [6]:
slots = set(list(data.intent))
slots

{'atis_abbreviation',
 'atis_aircraft',
 'atis_aircraft#atis_flight#atis_flight_no',
 'atis_airfare',
 'atis_airfare#atis_flight_time',
 'atis_airline',
 'atis_airline#atis_flight_no',
 'atis_airport',
 'atis_capacity',
 'atis_cheapest',
 'atis_city',
 'atis_distance',
 'atis_flight',
 'atis_flight#atis_airfare',
 'atis_flight_no',
 'atis_flight_time',
 'atis_ground_fare',
 'atis_ground_service',
 'atis_ground_service#atis_ground_fare',
 'atis_meal',
 'atis_quantity',
 'atis_restriction'}

In [8]:
slot_dict = []
for slot_seq in slots:
    slot_tokens = slot_seq.split(' ')
    for t in slot_tokens:
        slot_dict.append(t)

In [11]:
slot_dict
Counter(slot_dict)

Counter({'O': 32225,
         'B-fromloc.airport_name': 80,
         'I-fromloc.airport_name': 106,
         'B-airline_name': 630,
         'B-fromloc.city_name': 3902,
         'B-toloc.city_name': 3927,
         'B-depart_time.time_relative': 290,
         'B-depart_time.time': 329,
         'I-depart_time.time': 262,
         'B-depart_time.period_of_day': 541,
         'B-meal': 40,
         'B-or': 59,
         'B-round_trip': 313,
         'I-round_trip': 304,
         'B-arrive_time.time_relative': 164,
         'B-arrive_time.time': 184,
         'B-depart_date.today_relative': 75,
         'I-airline_name': 374,
         'B-flight_mod': 301,
         'B-fromloc.state_code': 42,
         'I-toloc.city_name': 998,
         'B-city_name': 203,
         'B-cost_relative': 315,
         'B-state_code': 7,
         'B-depart_date.month_name': 345,
         'B-depart_date.day_number': 358,
         'I-cost_relative': 48,
         'B-mod': 24,
         'B-flight_number': 79,
         'B-depart_date.day_name': 798,
         'B-fare_amount': 48,
         'I-fare_amount': 48,
         'B-stoploc.city_name': 216,
         'I-city_name': 43,
         'B-class_type': 200,
         'I-class_type': 169,
         'I-fromloc.city_name': 618,
         'B-fromloc.state_name': 37,
         'I-fromloc.state_name': 8,
         'B-flight_stop': 152,
         'B-transport_type': 46,
         'B-toloc.state_name': 70,
         'I-arrive_time.time': 146,
         'B-arrive_time.period_of_day': 57,
         'I-flight_mod': 11,
         'B-toloc.country_name': 3,
         'B-airport_name': 38,
         'I-airport_name': 54,
         'B-airline_code': 130,
         'B-aircraft_code': 28,
         'I-stoploc.city_name': 42,
         'I-depart_date.day_number': 108,
         'B-depart_date.year': 24,
         'B-depart_date.date_relative': 75,
         'B-arrive_date.month_name': 40,
         'B-arrive_date.day_number': 40,
         'B-meal_description': 52,
         'B-flight_days': 34,
         'B-arrive_date.day_name': 79,
         'B-restriction_code': 22,
         'I-restriction_code': 13,
         'B-arrive_date.date_relative': 10,
         'B-fare_basis_code': 63,
         'B-airport_code': 26,
         'B-fromloc.airport_code': 14,
         'B-depart_time.start_time': 21,
         'B-depart_time.end_time': 21,
         'B-toloc.airport_name': 34,
         'I-toloc.airport_name': 43,
         'B-flight_time': 65,
         'I-depart_date.today_relative': 12,
         'B-toloc.state_code': 76,
         'I-depart_time.period_of_day': 6,
         'B-toloc.airport_code': 15,
         'B-depart_time.period_mod': 41,
         'I-meal_description': 1,
         'I-depart_time.start_time': 11,
         'I-depart_time.end_time': 15,
         'B-day_name': 5,
         'B-period_of_day': 5,
         'I-toloc.state_name': 13,
         'B-economy': 30,
         'B-arrive_time.start_time': 20,
         'I-arrive_time.start_time': 8,
         'B-arrive_time.end_time': 19,
         'I-arrive_time.end_time': 18,
         'I-transport_type': 22,
         'I-flight_time': 29,
         'B-return_date.date_relative': 9,
         'B-meal_code': 6,
         'B-connect': 38,
         'I-arrive_date.day_number': 5,
         'I-economy': 8,
         'I-flight_stop': 13,
         'B-return_time.period_mod': 2,
         'B-return_time.period_of_day': 3,
         'B-arrive_date.today_relative': 2,
         'B-days_code': 3,
         'B-stoploc.state_code': 5,
         'I-depart_time.time_relative': 2,
         'B-return_date.month_name': 3,
         'B-return_date.day_number': 3,
         'B-return_date.today_relative': 1,
         'I-return_date.today_relative': 2,
         'B-arrive_time.period_mod': 3,
         'I-arrive_time.period_of_day': 3,
         'I-arrive_time.time_relative': 2,
         'I-meal_code': 4,
         'B-time_relative': 1,
         'B-time': 1,
         'I-time': 1,
         'B-return_date.day_name': 1,
         'I-fare_basis_code': 2,
         'B-today_relative': 2,
         'I-today_relative': 3,
         'B-stoploc.airport_name': 1,
         'B-state_name': 2,
         'I-return_date.day_number': 1,
         'I-return_date.date_relative': 2,
         'B-month_name': 2,
         'B-day_number': 2})

In [14]:
data = pd.read_csv('../data/multiATIS/split/test/clean/test.tsv',sep='\t')
data

,ID,TEXT,SLOTS,INTENT,INTENT_ID,SLOTS_ID
0,263,what is the fare for a first class round trip ...,O O O O O O B-class_type I-class_type B-round_...,atis_airfare,0,24 24 24 24 24 24 89 90 6 7 24 24 79 24 73 74
1,581,and from milwaukee to atlanta before 10 am daily,O O B-fromloc.city_name O B-toloc.city_name B-...,atis_flight,2,24 24 79 24 73 101 14 15 2
2,32,which flights travel from nashville to tacoma,O O O O B-fromloc.city_name O B-toloc.city_name,atis_flight,2,24 24 24 24 79 24 73
3,853,please list the flights from newark to los ang...,O O O O O B-fromloc.city_name O B-toloc.city_n...,atis_flight,2,24 24 24 24 24 79 24 73 74
4,149,list the flights from cincinnati to westcheste...,O O O O B-fromloc.city_name O B-toloc.city_nam...,atis_flight,2,24 24 24 24 79 24 73 74 24 87 97
...,...,...,...,...,...,...
888,312,show me the cheapest round trip fare from san ...,O O O B-cost_relative B-round_trip I-round_tri...,atis_airfare,0,24 24 24 55 6 7 24 24 79 80 24 73 24 87 97 98 22
889,259,list flights from salt lake city utah to phoen...,O O O B-fromloc.city_name I-fromloc.city_name ...,atis_flight,2,24 24 24 79 80 80 85 24 73 25 107
890,515,please list only the flights from cleveland to...,O O O O O O B-fromloc.city_name O B-toloc.city...,atis_flight,2,24 24 24 24 24 24 79 24 73 24 24 101 91
891,210,list all flights from cleveland to kansas city...,O O O O B-fromloc.city_name O B-toloc.city_nam...,atis_flight,2,24 24 24 24 79 24 73 74 24 107
892,555,show me the flights from indianapolis to memphis,O O O O O B-fromloc.city_name O B-toloc.city_name,atis_flight,2,24 24 24 24 24 79 24 73

In [15]:
# sentence length
textData = list(data.TEXT)
lengths = []

for sent in textData:
    lengths.append(len(sent.split(' ')))

hist = Counter(lengths)

In [37]:
for key,value in hist.items():
    
    if key>=14:
        print(value)

42
42
21
9
27
1
7
1
6
2
1
3
2

In [32]:
42+116+84+57+104+90+42+21+70+9+27+1+7+1+6+2+1+3+2

685

In [34]:
42+84+57+90+42+21+70+9+27+1+7+1+6+2+1+3+2

465

In [36]:
42+57+42+21+70+9+27+1+7+1+6+2+1+3+2

291

In [38]:
42+42+21+9+27+1+7+1+6+2+1+3+2

164